/*  START HERO SECTION */
.heroSection {
    height: fit-content;
    position: relative;
}

.heroTxt {
    top: 50%
}

.heroTxt .animation p {
    padding: 0 !important;
    margin: 0 !important;
}

.heroTxt div:nth-child(3) span {
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}


/*  END HERO SECTION */
/* ############################### */
/* START MY SERVICES */
.my-service-container {
    height: fit-content;
}

.service-card {
    height: fit-content;
}

div .service-card .service-Img {
    width: 20%;
}

div .service-card .service-card-txt div {
    font-weight: semibold;
    font-size: 100%;
}

div .service-card .service-card-txt p {
    font-weight: lighter;
    font-size: 100%;
}

/* END MY SERVICES */